<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350856242261-ram325116qcfgdqifvmjm314sep35fs6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350856242261-ram325116qcfgdqifvmjm314sep35fs6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>350856242261-atij03sj4i8looj9g31jur3ccg67ppn4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsLbefZoeqFzS4r5IAgInqfOlu6iC5VPU</string>
	<key>GCM_SENDER_ID</key>
	<string>350856242261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gorillaGrab</string>
	<key>PROJECT_ID</key>
	<string>gorillagrab-731a2</string>
	<key>STORAGE_BUCKET</key>
	<string>gorillagrab-731a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350856242261:ios:6a34ae0951b0cf6f0060dc</string>
</dict>
</plist>